In [26]:
library(tidyverse)
library(repr)
library(tidymodels)
library(kknn)
options(repr.matrix.max.rows = 6)

In [27]:
# install.packages("kknn")

In [38]:
heart_disease <- read_csv("processed.cleveland.data", col_names = FALSE)

colnames(heart_disease) <- c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num")
heart_disease <- heart_disease  |>
mutate(num = as_factor(num))
heart_disease

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal
1   63  1   1  145      233  1   2       150     0     2.3     3     0.0 6.0
2   67  1   4  160      286  0   2       108     1     1.5     2     3.0 3.0
3   67  1   4  120      229  0   2       129     1     2.6     2     2.0 7.0
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮   ⋮
301 57  1   4  130      131  0   0       115     1     1.2     2     1.0 7.0
302 57  0   2  130      236  0   2       174     0     0.0     2     1.0 3.0
303 38  1   3  138      175  0   0       173     0     0.0     1     ?   3.0
    num
1   0
2   2
3   1
⋮   ⋮
301 3
302 1
303 0

In [39]:
heart_disease_split <- initial_split(heart_disease , prop = 0.75, strata = num)  
heart_disease_train <- training(heart_disease_split)   
heart_disease_test<- testing(heart_disease_split)
heart_disease_train

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal
1   37  1   3  130      250  0   0       187     0     3.5     3     0.0 3.0
2   41  0   2  130      204  0   2       172     0     1.4     1     0.0 3.0
3   57  0   4  120      354  0   0       163     1     0.6     1     0.0 3.0
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮   ⋮
224 55  0   4  128      205  0   1       130     1     2.0     2     1.0 7.0
225 58  1   4  114      318  0   1       140     0     4.4     3     3.0 6.0
226 59  1   4  164      176  1   2        90     0     1.0     2     2.0 6.0
    num
1   0
2   0
3   0
⋮   ⋮
224 3
225 4
226 3

In [40]:
heart_disease_recipe <- recipe(num ~ age + trestbps + chol , data = heart_disease_train) |>
    step_scale(all_predictors()) |>
    step_center(all_predictors()) # No Answer - remove if you provide an answer
heart_disease_recipe

Recipe

Inputs:

      role #variables
   outcome          1
 predictor          3

Operations:

Scaling for all_predictors()
Centering for all_predictors()

In [41]:
heart_disease_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = tune()) |>
       set_engine("kknn") |>
       set_mode("classification")

heart_disease_fit <- workflow() |>
       add_recipe(heart_disease_recipe) |>
       add_model(heart_disease_spec) |>
       fit(data = heart_disease_train)

heart_disease_vfold <- vfold_cv(heart_disease_train, v = 5, strata = num)

Warning message:
“tune samples were requested but there were 226 rows in the data. 221 will be used.”